
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        .title
        {
            border: 2px solid black;
            height: 100px;
        }
        .signin
        {
            float: right;
        }
    </style>
</head>
<body>
    <div>
        <div class="title">
            <h1>Shop Website </h1>
            <div class="signin">
                <button routerLink = "/Signup" routerLinkActive="active">SignUp</button>
                <button routerLink = "/Login" routerLinkActive = "active">Login</button>
            </div>
        </div>
    </div>
</body>
</html>